.invalid-entry {
    border-color: red;
}
.frame {
    border: 0px;
}
.toast-label {
    background-color: black;
    border: 1px solid white;
}
.frame > border {
    border-radius: 5px;
    padding: 5px;
}
.page-heading {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.settings-subheading {
    font-size: 1.2rem;
    font-weight: 700;
}
.left-label {
    font-size: 1.3rem;
}
.server-subheading {
    font-size: 1.1rem;
    font-weight: 700;
}
.details-heading {
    font-size: 1.2rem
}
.preconnect-heading {
    font-size: 1.2rem;
    font-weight: 800;
}

.masked-tree {
    background-color: transparent;
}
.error-frame border {
    border: 2px solid red;
}
